* {
    box-sizing: border-box;
}

body {
    color: white;
}

#wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: aqua;
}

#wrapper nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    grid-row: 1/2;
    padding: 5px;
    background-color: #1b1b1c;
}

#wrapper nav header {
    grid-column: 1/3;
    margin-left: 15px;
}

#wrapper nav ul {
    grid-column: 8/13;
    padding: 0;
}

#wrapper nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

main {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #161617, #1f1f22, rgb(57, 58, 59));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #161617, #1f1f22, rgb(57, 58, 59));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    color: white;
    grid-row: 2/3;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

main #left {
    grid-column: 2/8;
    margin-top: 60px;
}

main #left h1 {
    font-size: 4em;
    margin: 10px auto;
    text-shadow: 2px 3px #a80b0b;
}

main #right {
    grid-column: 8/13;
}

main #right img {
    width: 300px;
    opacity: 0.6;
    margin-top: -40px;
    margin-right: -30px;
}

button.btnKnow {
    padding: 10px 20px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e06c0d, #f12711);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e06c0d, #f12711);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 15px auto;
    cursor: pointer;
}

span {
    display: inline-block;
    margin: 3px 5px;
    width: 25px;
    height: 2px;
    background-color: #f12711;
}

section {
    grid-column: 1/13;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
    background-color: #282929;
    padding: 20px;
}

section article#firstArt {
    grid-column: 2/3;
    border: 1px solid rgb(39, 43, 43);
}

section article#firstArt img {
    width: 250px;
    background-color: rgb(39, 43, 43);
    margin-top: 55px;
}

section article#secondArt {
    grid-column: 4/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

section article#secondArt .attribution {
    grid-row: 1/2;
    grid-column: 1/12;
}

section article#secondArt .attribution small {
    font-size: 10px;
    font-weight: bold;
}

section article#secondArt .attribution h3 {
    margin-top: 5px;
}

section article#secondArt .personality {
    grid-row: 2/3;
    grid-column: 1/12;
}

section article#secondArt .personality p {
    word-spacing: 0.5em;
}

section article#secondArt .skills {
    grid-row: 3/4;
    grid-column: 1/12;
    background-color: #2c2d2d;
    display: grid;
    grid-template-columns: (repeat(11, 1fr));
    grid-template-rows: repeat(3, minmax(0, auto));
}

section article#secondArt .skills h3 {
    margin: 5px;
}

section article#secondArt .skills i {
    font-size: 10px;
    color: rgba(245, 175, 25, 0.7);
}

section article#secondArt .html {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 10px;
}

section article#secondArt .css {
    grid-column: 4/6;
    grid-row: 1/2;
    margin: 10px;
}

section article#secondArt .jScript {
    grid-column: 6/9;
    grid-row: 1/2;
    margin: 10px;
}

section article#secondArt .bootStrap {
    grid-column: 9/12;
    grid-row: 1/2;
    margin: 10px;
}

section article#secondArt .jQuery {
    grid-column: 4/6;
    grid-row: 2/3;
    margin: 10px;
}

section article#secondArt .photshop {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 10px;
}

section article#secondArt .msSuite {
    grid-column: 6/9;
    grid-row: 2/3;
    margin: 10px;
}

section article#secondArt .btnDownload {
    grid-row: 4/5;
    grid-column: 1/5;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e06c0d, #f12711);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e06c0d, #f12711);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
}

article#projects {
    background-color: #1e1e20;
    grid-column: 1/13;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1%;
    text-align: center;
}

article#projects small {
    grid-row: 1/2;
    grid-column: 1/12;

}

article#projects h3 {
    display: inline-block;
}

/* 
article#projects #plantShop {
    grid-row: 2/3;
    grid-column: 1/4;
    background-color: #2c2d2d;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
}

article#projects #plantify {
    grid-row: 2/3;
    grid-column: 4/8;
    background-color: #2c2d2d;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
}

article#projects #FourCard {
    grid-row: 2/3;
    grid-column: 8/12;
    background-color: #2c2d2d;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
} */

footer#services {
    background-color: #2c2d2d;
    grid-column: 1/13;
    grid-row: 5/6;
    display: inline-block;
    padding: 5px;
}

footer#services small {
    margin-left: 20px;
}

footer#services .services h3 {
    margin-top: 5px;
}

footer#services .services a {
    text-decoration: none;
    color: white;
}