* {
	box-sizing: border-box;
}

body {
	color: white;
	font-family: 'Mada', sans-serif;
	margin: 0;
}

#wrapper {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	overflow: hidden;
}

#wrapper nav {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1/13;
	grid-row: 1/2;
	padding: 5px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: #1b1b1c;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%231b1b1c' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23202021' href='%23s' y='2'/%3E%3Cuse fill='%23202021' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23242425' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23242425' href='%23s'/%3E%3Cuse fill='%2329292a' href='%23s' x='2'/%3E%3Cuse fill='%2329292a' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232d2d2e'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232d2d2e'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23323233'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%231b1b1c'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23363637'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#wrapper nav .toggler {
	display: none;
}

#wrapper nav .toggler span:nth-child(2).drop {
	background-color: transparent;
	transition: all 0.5s ease-in-out;
}

#wrapper nav .toggler span:nth-child(1).cross {
	transform: rotate(50deg);
	position: relative;
	top: 5px;
	transition: all 0.5s ease-in-out;
}

#wrapper nav .toggler span:nth-child(3).revCross {
	transform: rotate(-50deg);
	position: relative;
	top: -10px;
	transform-origin: 'top left';
	transition: all 0.5s ease-in-out;

}

#wrapper nav header {
	grid-column: 1/3;
	margin-left: 15px;
}

#wrapper nav header a {
	text-decoration: none;
	color: white;
}

#wrapper nav ul {
	grid-column: 10/13;
	padding: 0;
}

#wrapper nav li {
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
}

nav li a {
	color: white;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}

main {
	background: #0f2027;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #161617, #1f1f22, rgb(57, 58, 59));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #161617, #1f1f22, rgb(57, 58, 59));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	grid-row: 2/3;
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

main #left {
	grid-column: 2/8;
	margin-top: 60px;
}

main #left h1 {
	font-size: 4em;
	margin: 10px auto;
	text-shadow: 2px 3px #a80b0b;
}

main #right {
	grid-column: 8/13;
}

main #right img {
	width: 300px;
	opacity: 0.6;
	margin-top: -30px;
	margin-right: -30px;
}

button.btnKnow {
	padding: 10px 20px;
	border: none;
	font-weight: bold;
	border-radius: 15px;
	background: #f12711;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e06c0d, #f12711);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #e06c0d, #f12711);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 15px auto;
	cursor: pointer;
}

button.btnKnow a {
	color: white;
	text-decoration: none;
}

section {
	grid-column: 1/13;
	grid-row: 3/4;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 5px;
	background-color: #282929;
	padding: 20px;
}

section article#firstArt {
	grid-column: 2/3;
	position: relative;
}

section article#firstArt img {
	width: 250px;
	margin-top: 55px;
	border: 1px solid white;
	padding: 5px;
	border-radius: 5px;
	transition: 3s;
}

section article#firstArt img:hover {
	position: relative;
	top: -10px;
	background-color: red;
}

section article#secondArt {
	grid-column: 4/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

section article#secondArt .attribution {
	grid-row: 1/2;
	grid-column: 1/12;
}

section article#secondArt .attribution small {
	font-size: 10px;
	font-weight: bold;
}

section article#secondArt .attribution h3 {
	margin-top: 5px;
}

section article#secondArt .personality {
	grid-row: 2/3;
	grid-column: 1/12;
}

section article#secondArt .personality p {
	word-spacing: 0.5em;
}

section article#secondArt .skills {
	grid-row: 3/4;
	grid-column: 1/12;
	background-color: #2c2d2d;
	display: grid;
	grid-template-columns: (repeat(11, 1fr));
	grid-template-rows: repeat(3, minmax(0, auto));
}

section article#secondArt .skills h3 {
	margin: 5px;
	margin-left: 0;
}

section article#secondArt .skills i {
	font-size: 10px;
	color: rgba(245, 175, 25, 0.7);
}

section article#secondArt .html {
	grid-column: 2/3;
	grid-row: 1/2;
	margin: 10px;
}

section article#secondArt .css {
	grid-column: 4/6;
	grid-row: 1/2;
	margin: 10px;
}

section article#secondArt .jScript {
	grid-column: 6/9;
	grid-row: 1/2;
	margin: 10px;
}

section article#secondArt .bootStrap {
	grid-column: 9/12;
	grid-row: 1/2;
	margin: 10px;
}

section article#secondArt .jQuery {
	grid-column: 4/6;
	grid-row: 2/3;
	margin: 10px;
}

section article#secondArt .photshop {
	grid-column: 2/3;
	grid-row: 2/3;
	margin: 10px;
}

section article#secondArt .msSuite {
	grid-column: 6/9;
	grid-row: 2/3;
	margin: 10px;
}

section article#secondArt .btnDownload {
	grid-row: 4/5;
	grid-column: 1/5;
	padding: 10px 20px;
	margin-top: 20px;
	border: none;
	font-weight: bold;
	border-radius: 15px;
	background: #f12711;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e06c0d, #f12711);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #e06c0d, #f12711);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	cursor: pointer;
	transition: 3s;
}

section article#secondArt .btnDownload:hover {
	position: relative;
	top: -5px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
}

section article#secondArt .btnDownload a {
	color: white;
	text-decoration: none;
}

article#projects {
	background-color: #1e1e20;
	grid-column: 1/13;
	grid-row: 4/5;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding: 1%;
	text-align: center;
}

article#projects small {
	grid-row: 1/2;
	grid-column: 1/12;
}

article#projects h3 {
	display: inline-block;
}

footer#services {
	background-color: #2c2d2d;
	grid-column: 1/13;
	grid-row: 5/6;
	display: inline-block;
	padding: 5px;
}

footer#services small {
	margin-left: 20px;
}

footer#services .services h3 {
	margin-top: 5px;
}

footer#services .services a {
	text-decoration: none;
	color: white;
}

.contact {
	color: white;
	background: #f12711;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e06c0d, #f12711);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #e06c0d, #f12711);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-color: #ee5522;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FB3'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f7882b'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(2, minmax(0, auto));
	grid-column: 1/13;
	height: 0;
	overflow: hidden;
	transition: 5s;
}

.contact #contleft {
	grid-column: 2/6;
	grid-row: 1/2;
}

.contact #contleft p {
	font-size: 2em;
	font-weight: bold;
}

.contact #contright {
	grid-column: 6/13;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, minmax(0, auto));
	padding: 5px;
	margin-top: 25px;
}

.contact #contright a {
	text-decoration: none;
	color: white;
}

.contact #contright #git {
	grid-column: 1/6;
	grid-row: 1/2;
}

.contact #contright #twitter {
	grid-column: 6/13;
	grid-row: 1/2;
}

.contact #contright #goog {
	grid-column: 1/6;
	grid-row: 2/3;
}

.contact #contright #phone {
	grid-column: 6/13;
	grid-row: 2/3;
}

.contact #contright p {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 0.3em;
}

.open {
	height: auto;
	transition: all 10s;
}

.car {
	position: relative;
	left: 0;
	animation-name: drive;
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-delay: 0.5s;
	animation-timing-function: cubic-bezier(.27, .65, .66, .48);
}

.active {
	color: #f12711;
}

span {
	display: inline-block;
	margin: 3px 5px;
	width: 25px;
	height: 2px;
	background-color: #f12711;
}

@keyframes drive {
	0% {
		transform: translate(0);
		color: white;
		font-size: 20px;
	}

	50% {
		transform: translate(400px, -400px);
		font-size: 15px;
		color: #f12711;
		opacity: 0.7;
	}

	100% {
		transform: translate(400px, -400px);
		color: transparent;
	}
}

/* Responsive Layout */
@media screen and (max-width: 1020px) {
	#wrapper nav ul {
		grid-column: 9/13;
		margin-right: 20px;
	}
}

@media screen and (max-width: 910px) {
	main #left {
		grid-column: 2/8;
		margin-top: 0;
	}

	main #left h1 {
		line-height: 1em;
	}
}

@media screen and (max-width: 850px) {
	section article#secondArt .html {
		grid-column: 1/3;
		grid-row: 1/2;
		margin: 10px;
	}

	section article#secondArt .css {
		grid-column: 3/7;
		grid-row: 1/2;
		margin: 10px;
	}

	section article#secondArt .bootStrap {
		grid-column: 7/11;
		grid-row: 1/2;
		margin: 10px;
	}

	section article#secondArt .jScript {
		grid-column: 6/12;
		grid-row: 2/3;
		margin: 10px;
	}

	section article#secondArt .msSuite {
		/* grid-column: 6/9;
        grid-row: 2/3;
        margin: 10px; */
		display: none;
	}

	#wrapper nav ul {
		grid-column: 8/13;
		margin-right: 5%;
	}

	section article#secondArt .btnDownload {
		grid-column: 1/6;
		padding: 10px 15px;
	}

	main #left p {
		font-size: 1em;
	}

	span {
		width: 10px;
	}
}

@media screen and (max-width: 720px) {
	main #left {
		grid-column: 2/7;
		/* margin-top: 60px; */
	}

	main #right {
		grid-column: 7/12;
	}

	section article#secondArt .skills {
		position: relative;
		left: -200px;
		top: 20px;
		margin-bottom: 10px;
	}

	section article#secondArt .btnDownload {
		grid-column: 1/7;
		padding: 10px 15px;
	}
}

@media screen and (max-width: 660px) {
	#wrapper nav ul {
		grid-column: 7/13;
		margin-right: 5%;
	}

	section article#secondArt .btnDownload {
		grid-column: 1/8;
		padding: 10px 15px;
		position: relative;
		left: -20px;
	}
}

@media screen and (max-width: 575px) {
	#wrapper nav {
		display: grid;
		padding: 0;
		margin: 0;
	}

	nav ul {
		padding: 0;
		display: block;
		margin: 0;
		height: 0;
		transform: translateX(700px);
	}

	#wrapper nav ul {
		grid-column: 1/13;
		margin-left: 5px;
		margin-right: 0;
	}

	.slideIn {
		height: auto;
		transform: translateX(0);
	}

	#wrapper nav li {
		display: block;
		margin-top: 20px;
		border-bottom: 1px solid #fff;
		margin-right: 0;
	}

	#wrapper nav .toggler {
		grid-column: 10/13;
		display: block;
		grid-row: 1/2;
		margin: 10px auto;
		cursor: pointer;
	}



	#wrapper nav .toggler span {
		display: block;
		cursor: pointer;
		height: 5px;
		width: 35px;
	}

	#wrapper nav header h3 {
		display: block;
		margin: 10px auto;
	}
}

@media screen and (max-width: 770px) {
	main #right {
		display: none;
	}

	main #left {
		grid-column: 2/13;
		margin-top: 60px;
	}

	section article#firstArt {
		grid-column: 1/3;
		grid-row: 1/2;
		position: relative;
	}

	section article#secondArt {
		grid-column: 1/13;
		grid-row: 2/3;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	section article#secondArt .skills {
		position: static;
		grid-row: 3/4;
		grid-column: 1/13;
	}

	section article#secondArt .html {
		grid-column: 1/5;
		grid-row: 1/2;
		margin: 10px;
	}

	article#secondArt .css {
		grid-column: 5/9 !important;
		grid-row: 1/2;
		margin: 10px;
	}

	section article#secondArt .bootStrap {
		grid-column: 9/13;
		grid-row: 1/2;
		margin: 10px;
	}

	section article#secondArt .jScript {
		grid-column: 9/13;
		grid-row: 2/3;
		margin: 10px;
	}

	section article#secondArt .jQuery {
		grid-column: 5/9;
		grid-row: 2/3;
		margin: 10px;
	}

	section article#secondArt .photshop {
		grid-column: 1/5;
		grid-row: 2/3;
		margin: 10px;
	}

	section article#secondArt .btnDownload {
		position: static;
		grid-row: 4/5;
		grid-column: 3/10;
		padding: 10px 20px;
		margin-top: 20px;
	}

	article#projects small {
		grid-row: 1/2;
		grid-column: 1/13;
	}

	article#projects h3 {
		margin-bottom: 3px;
	}

	.contact #contleft {
		display: none;
	}

	.contact #contright {
		grid-column: 3/13;
		margin-top: 5px;
		font-size: 0.7em;
	}
}