* {
    box-sizing: border-box;
}

body {
    font-family: 'Mada', sans-serif;
    text-align: center;

}

html {
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

#demo {
    font-size: 40px;
    font-weight: bold;
}

main {
    margin-top: 10%;
}