* {
    box-sizing: border-box;
}

body {

    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

#demo {
    font-size: 40px;
    font-weight: bold;
}

main {
    margin-top: 10%;
}

i {
    color: rgb(139, 69, 19);
}